body {
    width: 100%;
    box-sizing: border-box;
}

.navbar-custom {
    position: relative;
}

.navbar-user {
    position: absolute;
    right: 50px;
}

.content-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-title-constraint {
    height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.error-msg {
    color: red;
    font-weight: 500;
}

.search-container {
    text-align: center;
    margin: 20px;
}

.search-container input[type="text"] {
    border-radius: 10px;
    padding: 10px;
}

.search-container button {
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#toggleButton {
    margin-top: 10px;
    border-radius: 8px;
}